@model ActorsModel

<form method="post">
  <div class="form-group">
    <label for="actor_name">Actor Name</label>
    <input type="text" name="Name" class="form-control" id="actor_name" placeholder="Enter name">
    </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
